body{
	line-height: 1.75;
	color: black;
}
h1{
	font-size: 34px;
	font-weight: 300;
	text-shadow: 0 0.5px rgba(0,0,0,.5);

}
h2{
	margin: 50px;
}
p{
	margin: 10px;
}
h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  font-weight: 700;
}
/***********************************************/
section{
	padding-top: 50px;
	margin-top: -50px;
}
section img{
	margin-top: 25px;
}
footer{
	margin: 40px 0px;
	color: gray;
}
/***********************************************/
#logo{
	margin-top: 20px;
}
#aboutPic{
	width: 450px;
	margin: 15px;
	padding-right: 50px;
}
#resources h3, #resources li{
	margin-left: 20%;
	text-align: left;
}
.btn{
	margin-top: 30px;
}
#about a, #contact a{
	text-decoration: underline;
}
.site-wrapper{
	background-color: aliceblue;
}
/************************************************** 
	NAVBAR **/
.navbar{
	padding: 0px 10px;
	font-weight: bold;
}
.navbar-nav{
	float: right;
	font-size: 18px;
}
.navbar-brand{
	float: left;
}
/************************************************** 
	TEAM without Portfolio **/
.team-member {
  text-align: center;
  margin-bottom: 20px;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
#anaBonsoli{
	width: 400px;
	margin-bottom: 25px;
}

/************************************************** 
	TEAM with Portfolio
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 50%;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
**/
/************************************************** 
	MEDIA QUEIRIES **/
@media (max-width: 768px) {
	h1{
    	font-size: 28px;
  	}
	.navbar-nav{
		float: none;
	}
	.navbar-brand{
		float: left;
	}
	#resources li{
		text-decoration: underline;
	}
	.cover-container{
		margin: 30% auto;
	}
  	#aboutPic{
		max-width: 250px;
		margin: none;
		padding: 0px;
	}
	#anaBonsoli{
		width: 100%;
	}

}
